body {
  background: #fac4c4;
  font-size: 2rem;
}

.container {
  background-color: #b64900;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.6rem;
  padding: 1.3rem;
}
.container .item {
  background-color: #06c7d4;
  border-radius: 0.6rem;
  padding: 1.3rem;
  color: #fff;
  font-size: 1.3rem;
}
